/*--------------------- Heading*/


.heading{
    background-color: #00539CFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    color: #EEA47FFF;
    text-transform: uppercase;
    font-size: 25px;
}

#nav{
    background-color: rgb(153, 146, 146);
    text-align: center;
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    color: white;
    
}

#nav li{
    text-decoration: none;
    display: inline-block;
    padding: 25px;
     
}

#nav li:hover{
    background-color: yellow;
}

#nav li a{
   text-decoration: none;
   color: white;
   font-stretch: expanded;
}

#nav li a:hover{
    color: black;
}

#nav li i{
    margin-left: 10px;
}

/*--------------------------------------------------------------index.html*/

section{
    background-color: whitesmoke;
}

.centre-image{
    clear: left;
    background: url(../images/np_Young\ woman\ in\ the\ gym\ working\ out\ with\ a\ kettlebell_25nPmb_free.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.text-bloks{
    padding: 20px 20px 20px 20px;
}

.block-left{
   
   background-color: rgba(0, 0, 0, 0.7);
   margin-left: -650px;
   margin-right: 600px;
   margin-top: 100px;
}

.block-center{
   
   background-color: rgba(0, 0, 0, 0.7);
   margin-top: 250px;
}

.block-right{
   
   background-color: rgba(0, 0, 0, 0.7);
   margin-right: -650px;
   margin-left: 600px;
   margin-top: -475px;
}


/*------------------Footer*/



.social-links{
    padding-bottom: 15px;
}



.social-links li a i{
    width: 62px;
    height: 62px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 29px;
    line-height: 38px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
 }

.social-links li a i:hover{
    background-color: #3b5998;
}


/*-----------------Gallery.html*/

#photo{
      clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0px;
}

